@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Login</h1>

<form method="post">
    <div>
        <label asp-for="Username">Username:</label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit">Login</button>
</form> 
