@page
@model TrialTest2.Pages.CreateModel

<h1> Create new eye glasses</h1>

<form method="post" asp-page-handler="Create">
    <div>
        <label asp-for="Eyeglass.EyeglassesId"></label>
        <input asp-for="Eyeglass.EyeglassesId" value="0"/>
    </div>
    <div>
        <label asp-for="Eyeglass.EyeglassesName"></label>
        <input asp-for="Eyeglass.EyeglassesName" />
    </div>
    <div>
        <label asp-for="Eyeglass.EyeglassesDescription"></label>
        <input asp-for="Eyeglass.EyeglassesDescription" />
    </div>
    <div>
        <label asp-for="Eyeglass.FrameColor"></label>
        <input asp-for="Eyeglass.FrameColor" />
    </div>
    <div>
        <label asp-for="Eyeglass.Price"></label>
        <input asp-for="Eyeglass.Price" type="number" />
    </div>
    <div>
        <label asp-for="Eyeglass.Quantity"></label>
        <input asp-for="Eyeglass.Quantity" />
    </div>
    <div>
        <label asp-for="Eyeglass.LensTypeId"></label>
        <select asp-for="Eyeglass.LensTypeId" asp-items="@Model.CategoryOptions">
        </select>
    </div>
    <button type="submit">Create</button>
</form>

@if (ModelState.IsValid == false)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}