@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Log in</h1>

<form method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="LoginModel.EmailAddress"></label>
        <input asp-for="LoginModel.EmailAddress" />
    </div>
    <div>
        <label asp-for="LoginModel.AccountPassword"></label>
        <input asp-for="LoginModel.AccountPassword" type="password" />
    </div>
    <button type="submit">Login</button>
</form>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}